<html>
<head>
  <title>Bifröst</title>
  <meta charset="UTF-8">
</head>
<body>

  <h1>Bifröst</h1>

  <p><a href="https://github.com/alternatelabs/bifrost">Bifröst is an open source websocket server</a> written in Crystal and powered by JWTs.</p>
</body>
</html>
