<html>
<head>
  <title>Bifröst test page</title>
  <meta charset="UTF-8">
</head>
<body>

  <div>Connecting to websocket, open your console for more info</div>

  <script type="text/javascript">
    var HOST = location.origin.replace(/^http/, 'ws')+"/subscribe";
    var ws = new WebSocket(HOST);
    var pingInterval;
    var msg = {
      event: 'authenticate',
      data: '<%= test_token %>'
    };
    ws.onopen = function(event) {
      ws.send(JSON.stringify(msg));

      pingInterval = setInterval(() => {
        ws.send(JSON.stringify({ event: "ping" }));
      }, 5000);
    };

    ws.onmessage = function(event) {
      console.log("WSM", event.data);
    };

    ws.onclose = function(event) {
      console.log("WS Closed", event);
      clearInterval(pingInterval);
    };
  </script>
</body>
</html>
